<!DOCTYPE html>
<html>
<head>
    <title>Image Filtering Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>Image Smoothing and Edge Enhancement</h1>

    <p>
        Upload an image to apply Mean, Gaussian, and Laplacian filters
    </p>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <br><br>
        <button type="submit">Upload & Process</button>
    </form>

    {% if original %}
    <div class="images">
        <div>
            <h3>Original</h3>
            <img src="{{ original }}">
        </div>

        <div>
            <h3>Mean Filter</h3>
            <img src="{{ mean }}">
        </div>

        <div>
            <h3>Gaussian Filter</h3>
            <img src="{{ gaussian }}">
        </div>

        <div>
            <h3>Laplacian Filter</h3>
            <img src="{{ laplacian }}">
        </div>
    </div>
    {% endif %}
</div>

</body>
</html>



